* {
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; */
    box-sizing: border-box;
}

body {
    font-size: 16px;
    /* width: 200%; */
}

h1 {
    border: 3px dashed red ;
    width: 50%;
    /* font-size: 2rem; */

}

p {
    /* font-size: 16px; */
    /* font-size: 32px; */
    width: 100%;
    border: 3px dashed blue ;
    /* font-size: 2em; */
}
