* {
    font-family: monospace;
    border: 1px solid red;
}

html {
    font-size: 22px;

}

body {
    font-size: 22px;
    border: 5px solid black;
}

main {
    font-family: monospace;

}

h1, h2 {
    color: blue;
}

p {
    color: purple;
}

p {
    color: red;
}

.gray {
    color: gray;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}

#second {
    font-style: italic;
}